.container {
    display: flex;
    /* background-color: white; */
    position: relative;
    height: 200px;
}

.myTitle {
    font-size: 14px;
    font-weight: 600;
}

.item-container {
    display: flex;
}

.img {
    position: absolute;
    right: 100px;
    bottom: 0;
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 260px;
    margin-left: 20px;
    
}